html, body {
    background: #999 url(../images/bricks.png) 0 0 repeat;
    color: #111111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 98%;
    line-height: normal;
    margin: 0;
}

.page {
    background: #FFFFFF none repeat scroll 0 0;
    border:2px solid #DDDDDD;
    width: 921px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 1em auto -2.5em auto;
    overflow: hidden
}

.header h1 {
    font-size: 25px;
    margin: 1em;
    float: left;
}

.header img.logo {
    float: right;
    margin: 1em;
}

.header ul.nav {
    float: right;
    margin: 1em;
    clear: both;
}

.header ul.nav {
    float: right;
    clear: both;
    font-size: 18px;
    margin: 0 4em 0 0;
}

.header ul.nav li {
    padding: 0.2em 0em;
}

.header ul.subNav {
    float: right;
    font-size: 14px;
    margin: 6.8em 6.3em 0 0;
    color: #555;
}

.header ul.subNav li {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    border-left: solid 1px red;
}


.footer, .push {
    width: 921px;
    height: 3em;
    margin: 0 auto;
    overflow: hidden;
}

.footer ul {
    float: left;
    width: 98%;
}

.footer ul li {
    float: left;
    display: inline;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.footer li.connect,
.footer li.copyright {
    float: right;
}

.footer li.connect img {
    margin-top: -0.3em;
    padding-right: 0.5em;
}